<!DOCTYPE html>
<html>
    <head>
        <title>Faheem's Blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/custom.css">
        <script src="js/jquery-2.0.3.js"></script>
        <script src="js/bootstrap.js"></script>    
        <script src="js/custom.js"></script>
    </head>
    <body>
        <header>
            <div class="text-center">Welcome to Faheem's Blog</div>
        </header> <!-- End of Header -->
        <div class="container">
            <div class="row">
                <div class="col-md-3" style='position: relative'>           
                    <div class='row blogstack'>
                            <a class='col-md-12 active'>First one</a>
                            <a class='col-md-12'>Second one</a>
                            <a class='col-md-12'>Third one</a>
                            <a class='col-md-12'>Fourth one</a>
                            <a class='col-md-12'>Fifth one</a>
                            <a class='col-md-12'>Sixth one</a>
                        </div>
                </div> <!-- End of sidebar contents -->
                
                <div class="postbody col-md-9">
                    <h1 class='post-header text-center'>Welcome, this is first post</h1> <!-- End of post title -->
                    <br>
                    
                    <div class='postcontent'>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    </div> <!-- End of Main Post -->
                    
                    <div class='postinfo'>
                    <div class='row'>Posted on:&nbsp;&nbsp;&nbsp;<span class="posttime">12 December 2012, 7:38 PM</span></div>
                    <div class='row'>Tags: 
                        <span class="posttags">Education</span>&nbsp;
                        <span class="posttags">Sports</span>&nbsp;
                        <span class="posttags">Recreational</span>&nbsp;
                        <span class="posttags">Entertaining</span>&nbsp;
                        <span class="posttags">Fun</span>
                    </div>
                    <div class='row'><span class="postlike text-success">100</span> people like this</div>
                    <div class='row'>Like&nbsp;<a><i class="fa fa-thumbs-up fa-2x"></i></a></div>
                    <div class='row text-info'>Liked</div>
                </div>  <!-- End of postinfo-->
                
                <div class="comment-wrapper">
                    <div id="disqus_thread"></div> 
                </div>  <!-- End of comment -->
                    
                </div>
            </div>
        </div>
        
        
        
        <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'faheemsblog'; // required: replace example with your forum shortname   
                        var disqus_url = 'http://faheemsblog.info';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://'+ disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
        </script>
    </body>
</html>